services:
  php:
    build:
      context: .
      dockerfile: php.Dockerfile
    container_name: php-api
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    build:
      context: .
      dockerfile: mysql.Dockerfile
    container_name: mysql-db
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./Database/init.sql:/docker-entrypoint-initdb.d/init.sql

  # PHPMYADMIN
  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8181:80"
    environment:
      PMA_HOST: mysql-db
      PMA_PORT: 3306
    depends_on:
      - db

volumes:
  db_data:
